<section class="author" itemprop="author">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded" src="https://s.gravatar.com/avatar/c73c8ecce07b5221a08161694140ad21?s=130" alt="{{site.name}}">
        <p class="def">Author</p>
        <h3 class="name">
            <a itemprop="name" href="https://plus.google.com/+{{site.gplus_username}}/posts">{{site.user_description}}</a>
        </h3>
        <a itemprop="email" class="email" href="mailto:{{site.email}}">{{site.email}}</a>
    </div>
</section>
